* {
	font-family: Verdana;
	box-sizing: border-box;
}

body {
	background: #f1f1f1;
	padding: 10px;
}
.header {
	text-align: center;
	background-color: #cce5ff;
	padding: 80px;
}

#navigation {
	list-style-type: none;
	background-color: #3399ff;
	text-align: center;
}

#navigation li {
	display: inline-block;
	padding: 10px 0px;
}

#navigation li a {
	color: white;
	padding: 10px 15px;
	text-decoration: none;
	text-align: center;
}

#navigation li a:hover {
	background-color: #cce5ff;
}

.table {
	display: table;
	width: 100%;
}

figure {
	float: left;
	margin: 10px 10px 0 0;
	padding: 10px;
	background-color: white;
	font-style: italic;
	text-align: center;
	border: 1px solid;
	width: 30%;
}

figure img {
	width: 100%;
}

.normalsection {
	padding: 10px;	
	background-color: white;
}

.leftcolumn {
	float: left;
	width: 75%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


.rightcolumn {
	float: left;
	width: 25%;
	background-color: #f1f1f1;
	padding-left: 20px; 
}

.card {
	background-color: white;
	padding: 10px;
	margin-bottom: 20px;
}

.footer {
	text-align: center;
	bottom: 0;
	width: 100%;
	margin-top: 20px;
}

.quote {
	border: 4px dotted red;
	padding: 3px;
	width: 30%;
	text-align: center;
	margin: auto;
}

input, textarea {
	margin: 5px 0px;
	border: 1px solid black;
	border-radius: 4px;
	padding: 3px;
}

input[type=submit] {
	background-color: #3399ff;
	color: white;
	border: none;
	padding: 5px 5px;
}

input[type=submit]:hover{
	background-color: #cce5ff;
}
