* {
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
	margin: 0;
}

body {
	background: #f1f1f1;
	padding: 10px;
}
.header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('images/candy.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	color: white;
	background-color: #cce5ff;
	padding: 140px;
}

/* navigation */

#navigation {
	list-style-type: none;
	background-color: #3399ff;
	text-align: center;
}

#navigation li {
	display: inline-block;
	padding: 10px 0px;
}

#navigation li a {
	color: white;
	padding: 10px 15px;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
}

#navigation li a:hover {
	background-color: #cce5ff;
}

/* main page functionality */

.normalsection {
	margin-top: 20px;
	padding: 10px;	
	background-color: white;
}

.leftcolumn {
	float: left;
	width: 75%;
}

.rightcolumn {
	float: left;
	width: 25%;
	background-color: #f1f1f1;
	padding-left: 20px; 
}

.card {
	background-color: white;
	padding: 10px;
	margin: 20px 0;
}


.footer {
	text-align: center;
	bottom: 0;
	width: 100%;
	margin-top: 20px;
}

.row {
  display: flex;
}

/*
.row:after {
  content: "";
  display: table;
  clear: both;
}
*/

/* baking journey */

.imagecontainer {
	flex: 33.3%;
	padding: 5px;
	background-color: white;
	text-align: center;
}

.imagecontainer img {
	width: 100%;
	transition: transform .2;
}

/* TODO replace with mouse click
.imagecontainer img:hover {
	transform: scale(1.3);
}*/

/* figure */

#examplefigure {
	float: left;
	margin: 10px 10px 0 0;
	padding: 10px;
	font-style: italic;
	text-align: center;
	border: 1px solid;
	width: 30%;
}

#examplefigure img {
	width: 100%;
}

.quote {
	border: 4px dotted red;
	padding: 10px 5px;
	width: 80%;
	text-align: center;
	margin: auto;
}

/* form */

input, textarea {
	margin: 5px 0px;
	border: 1px solid black;
	border-radius: 4px;
	padding: 3px;
}

input[type=submit] {
	background-color: #3399ff;
	color: white;
	border: none;
	padding: 5px 5px;
}

input[type=submit]:hover{
	background-color: #cce5ff;
}
